<!-- used in new.html.erb -->

<%= form_with(model: task, local: true, html: { class: "task-form" }) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>
      <ul>
        <% task.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label "task" %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :due_date %>
    <%= form.date_field :due_date, class: "date-picker", start_year: 2025, end_year: 2030 %>

  </div>

  <div class="field">
    <%= form.label :category_id %>
    <%= form.collection_select :category_id, Category.all, :id, :name, prompt: "Select a category" %>  <!-- Category selection -->
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
