<%= form_with(model: task, html: { class: "task-form" }, url: task.persisted? ? category_task_path(@category, task) : category_tasks_path(@category), method: task.persisted? ? :patch : :post, local: true) do |form| %>

  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>
      <ul>
        <% task.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label @category.name %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :due_date %>
    <%= form.date_field :due_date, value: Date.today, class: "date-picker", start_year: 2025, end_year: 2030 %>
  </div>

  <div class="actions">
    <%= form.submit "Save Task" %>

    
  </div>
<% end %>

<span class="buttons">
  <% if task.persisted? %> 
    <%= button_to category_task_path(@category, task),
        method: :delete, 
        data: { confirm: "Are you sure you want to delete this task?" }, 
        class: "delete-button",
        title: "Delete Task" do%>
          <i class="fa-regular fa-trash-can"></i>
    <% end %>
  <% end %>
  <%= link_to category_tasks_path(@category), title: "Back to Tasks" do %>  
    <i class="fa-solid fa-arrow-left"></i>
  <% end %>
</span>
