<div class = "tasks-index">
  <p style="color: black; font-style: italic;"><%= notice %></p>

  <% content_for :title, "Tasks" %> 

  <div class="tasks-title">
    <i class="fa-solid fa-list-check"></i>
    
    <h1><%= @category.name %></h1> 
    
    

  </div>

  
  <div id="tasks">
    <% @tasks.each do |task| %>
      
      <div id="<%= dom_id task %>" class="task-container"> 
      
        <div class="tasks-description">
          
          <p>
            <%= link_to task.description, edit_category_task_path(task.category, task), title: "Edit this task" %>
          </p>
        </div>

        <div class="tasks-due-date">
          <span class="material-symbols-outlined calendar_today">
            calendar_today
          </span>
          <span class="due-date">
            <%= content_tag :span, task.due_date, title: "Task is due on #{task.due_date}" %>
          </span>
        </div>

        <!--<div class="tasks-category">
          <strong>Category:</strong>
          <%= task.category.name %>
        </div> -->
      </div>
    <% end %>
    
  </div>
  <span class ="buttons">
      <div class="new-category-button">
        <%= link_to new_category_task_path(@category), title: "Add New Task" do %>
          <i class="fa-solid fa-plus"></i>
        <% end %>
      </div>
      
      <%= link_to categories_path, title: "Back to Categories" do %>  
        <i class="fa-solid fa-arrow-left"></i>
      <% end %>
    </span>
    
</div>
