<div class = "tasks-index">
  <p style="color: green"><%= notice %></p>

  <% content_for :title, "Tasks" %> 

  <div class="tasks-title">
    <h1>Tasks</h1> 
    <%= link_to new_task_path do %>
      <span class="material-icons">add_task</span>
    <% end %>
  </div>

  
  <div id="tasks">
    <% @tasks.each do |task| %>
      
      <div id="<%= dom_id task %>" class="task-container"> 
      
        <div class="tasks-description">
          <%= check_box_tag "task[completed][#{task.id}]", "true", task.completed, disabled: false %>
          <p>
            <%= link_to task.description, task %>
          </p>
        </div>

        <div class="tasks-due-date">
          <span class="material-symbols-outlined calendar_today">
            calendar_today
          </span>
          <span class="due-date">
            <%= task.due_date %>
          </span>
        </div>

        <div class="tasks-category">
          <strong>Category:</strong>
          <%= task.category.name %>
        </div>
      </div>
        
      <!-- <p>
        <%= link_to "Show this task", task %>
      </p> -->

    <% end %>
    
  </div>
  
</div>
