<div class="tasks-index">
  <p style="color: black; font-style: italic;"><%= notice %></p>

  <% content_for :title, "Tasks" %> 

  <div class="tasks-title">
    <i class="fa-solid fa-list-check"></i>
    <h1><%= @category.name %></h1> 
  </div>

  <div id="tasks">
  <span class="buttons">
    <div class="new-category-button">
      <%= link_to new_category_task_path(@category), title: "Add New Task", class: "new-category-button" do %>
        + Add New Task
      <% end %>
    </div>

    <%= link_to categories_path, title: "Back to Categories" do %>  
      <i class="fa-solid fa-arrow-left"></i>
    <% end %>
  </span>
    <% @tasks.each do |task| %>
      <div id="<%= dom_id task %>" class="task-container <%= 'completed' if task.completed %>"> 
        
      <div class="tasks-description">
      <p>
        <% if task.completed %>
          <!-- Show plain text instead of link if the task is completed -->
          <span title="Task is completed. Editing is disabled."><%= task.description %></span>
        <% else %>
          <%= link_to task.description, edit_category_task_path(task.category, task), title: "Edit this task" %>
        <% end %>
      </p>
    </div>
    

        <div class="tasks-due-date">
          <span class="material-symbols-outlined calendar_today">
            calendar_today
          </span>
          <span class="due-date">
            <%= content_tag :span, task.due_date, title: "Task is due on #{task.due_date}" %>
          </span>
        </div>

        <!-- Toggle Complete Button -->
        <div class="task-status">
          <%= button_to (task.completed ? "Undo" : "Mark as Done"), 
              toggle_complete_category_task_path(@category, task),
              method: :patch, class: "complete-button #{'undo-button' if task.completed}" %>
        </div>
        
      </div>
    <% end %>
  </div>

  
</div>
