<%= form_with(model: category,html: { class: "task-form" }) do |form| %>
  <% if category.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
        <% category.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit %>

    <% if category.persisted? %> 
        <%= button_to "Delete Category", 
              category,
              method: :delete, 
              data: { confirm: "Are you sure you want to delete this category?" }, 
              class: "delete-button" %>
      <% end %>
  </div>
<% end %>
