
<%= form_with(model: category,html: { class: "task-form" }) do |form| %>
  
 <% if category.errors[:name].any? %>
  <div style="color: red">
    <% category.errors.full_messages_for(:name).each do |error| %>
      <p><%= error %></p>
    <% end %>
  </div>
<% end %>


  <div class="field">
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>

<span class="buttons">
  <% if category.persisted? %> 
    <%= button_to category,
        method: :delete, 
        class: "delete-button",
        title: "Delete Category" do%>
      <i class="fa-regular fa-trash-can"></i>
    <% end %>
  <% end %>
  
  <%= link_to  categories_path, title: "Back to Categories" do %>  
    <i class="fa-solid fa-arrow-left"></i>
  <% end %>
</span>
    

