
<%= form_with(model: category,html: { class: "task-form" }) do |form| %>
  <% if category.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
        <% category.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<span class="buttons">
  <% if category.persisted? %> 
    <%= button_to category,
        method: :delete, 
        data: { confirm: "Are you sure you want to delete this category?" }, 
        class: "delete-button",
        title: "Delete Category" do%>
          <i class="fa-regular fa-trash-can"></i>
    <% end %>
  <% end %>
  <%= link_to  categories_path, title: "Back to Categories" do %>  
    <i class="fa-solid fa-arrow-left"></i>
  <% end %>
</span>
    

