<div class="all-tasks">
    <div class="tasks-title">
        <i class="fa-solid fa-list-check"></i>
    
        <h1>All Tasks</h1> 
      
        <%= link_to categories_path, title: "Back to Categories" do %>  
            <i class="fa-solid fa-arrow-left"></i>
        <% end %>
    </div>
    
    <div id="all-tasks-container">
        <% @tasks.each do |task| %>
            
            <div class="all-tasks-container"> 
        
                <div class="tasks-description">
                    <%= check_box_tag "task[completed][#{task.id}]", "true", task.completed, disabled: false %>
                    <p>
                        <%= link_to task.description, edit_category_task_path(task.category, task) %>
                    </p>
                </div>

        <div class="tasks-due-date">
        <span class="material-symbols-outlined calendar_today">
            calendar_today
        </span>
        <span class="due-date">
            <%= task.due_date %>
        </span>
        </div>

        <div class="tasks-category">
        <strong>Category:</strong>
        <%= task.category.name %>
        </div> 
    </div>
    <% end %>

    </div>

   

</div>

