<div class="categories-index">
  <p style="color: black; font-style: italic;"><%= notice %></p>

  <% content_for :title, "Categories" %>

  <div class="categories-title">
    <i class="fa-solid fa-icons"></i>
    <h1>Categories</h1>
  </div>

  <div id="categories">
    <div class="category-container">
      <span>
        <%= link_to "Display all tasks", all_tasks_categories_path %>
      </span>        
    </div>
    <% @categories.each do |category| %>
      <div class="category-container">
        <span>
          <%= link_to category.name, category_tasks_path(category) %> 
          <%= link_to edit_category_path(category) do %>
            <i class="fa-solid fa-pen-to-square"></i>
          <% end %>
        </span>
      </div>
    <% end %>

  </div>
  
  <div class="new-category-button">
    <%= link_to new_category_path do %>
      <i class="fa-solid fa-square-plus"></i>
    <% end %>
  </div>
  <!-- <%= link_to "New category", new_category_path %> -->
</div>
