
<div class="categories-index">
  <p style="color: #fff; font-style: italic;"><%= notice %></p>

  <% content_for :title, "Categories" %>

  <div class="categories-title">
    <i class="fa-solid fa-icons"></i>
    
    <h1>Categories</h1>
    
  </div>

  <div id="categories">
    <div class="category-container">
      <span>
        <%= link_to "Display all tasks", all_tasks_categories_path %>
        <!--<span class="task-count" title="Total number of tasks">
          (<span style="color: red;"><%= Task.count %></span>)
          </span>-->
         </span>
      </span>        
    </div>
    <% @categories.each do |category| %>
      <div class="category-container">
        <span>
          <%= link_to category.name, category_tasks_path(category) %> 

          <% unless category.name == "Uncategorized" %>
          <%= link_to edit_category_path(category), title: "Edit this category" do %>
            <i class="fa-solid fa-pen-to-square"></i>
          <% end %>
      <% end %>
          <span class="task-count" title="Number of tasks in this category">
          (<span style="color:#c0392b;"><%= category.tasks.count %></span>)
          </span>
        </span>
      </div>
    <% end %>

  </div>
    <div class="new-category-button">
      <%= link_to new_category_path, title: "Add new category" do %>
        
        <span class="new-category-title">+ New Category</span>
      <% end %>
    </div>
 
 
</div>
